In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
FullReport = pd.read_csv("/Users/maaaaax/Code/homicide.latimes.com/homicide_export.csv")

In [4]:
FullReport.head()

,ID,coroners case number,police case number,da case number,slug,first name,middle name,last name,suffix,death date,...,incident zipcode,officer involved,ruling,coroners description,synopsis,incident point x,incident point y,neighborhoodv6__name,jurisdiction__name,image
0,16677,2018-06232,NaN,NaN,robert-salinas-jr,Robert,NaN,Salinas,Jr.,2018-08-12,...,91766.0,False,H,NaN,NaN,-117.750089,34.057842,Pomona,NaN,NaN
1,16678,2018-06233,NaN,NaN,jeremy-alexander-henness,Jeremy,Alexander,Henness,NaN,2018-08-12,...,91766.0,False,H,NaN,NaN,-117.750089,34.057842,Pomona,NaN,NaN
2,16676,2018-06226,NaN,NaN,anthony-daniel-vargas,Anthony,Daniel,Vargas,NaN,2018-08-12,...,90022.0,True,H,NaN,NaN,-118.160767,34.040228,East Los Angeles,NaN,NaN
3,16674,2018-06146,NaN,NaN,yuri-rayma-arellano,Yuri,Rayma,Arellano,NaN,2018-08-08,...,90023.0,False,H,NaN,NaN,-118.180557,34.016583,East Los Angeles,NaN,NaN
4,16675,2018-06079,NaN,NaN,maria-anastacia-ventura,Maria,Anastacia,Ventura,NaN,2018-08-06,...,90304.0,False,H,NaN,NaN,-118.361545,33.941556,Lennox,NaN,NaN

In [5]:
FullReport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16142 entries, 0 to 16141
Data columns (total 31 columns):
ID                      16142 non-null int64
coroners case number    16140 non-null object
police case number      10559 non-null object
da case number          933 non-null object
slug                    16142 non-null object
first name              16142 non-null object
middle name             9129 non-null object
last name               16139 non-null object
suffix                  1001 non-null object
death date              16142 non-null object
death time              8601 non-null object
age                     16112 non-null float64
date of birth           15585 non-null object
cause                   15662 non-null object
security hold           16142 non-null bool
Have autopsy?           16142 non-null bool
gender                  16114 non-null object
race                    15991 non-null object
died on scene           16142 non-null bool
sequela                 16105 non-null object
incident address        15288 non-null object
incident zipcode        15071 non-null float64
officer involved        16142 non-null bool
ruling                  16142 non-null object
coroners description    16057 non-null object
synopsis                15617 non-null object
incident point x        15312 non-null float64
incident point y        15312 non-null float64
neighborhoodv6__name    15274 non-null object
jurisdiction__name      15953 non-null object
image                   1473 non-null object
dtypes: bool(4), float64(4), int64(1), object(22)
memory usage: 3.4+ MB

In [6]:
FullReport.age.head()

0    37.0
1    31.0
2    21.0
3    33.0
4    57.0
Name: age, dtype: float64

In [12]:
youth=FullReport[ FullReport.age < 19]

In [13]:
youth.head()

,ID,coroners case number,police case number,da case number,slug,first name,middle name,last name,suffix,death date,...,incident zipcode,officer involved,ruling,coroners description,synopsis,incident point x,incident point y,neighborhoodv6__name,jurisdiction__name,image
41,16608,2018-05354,NaN,NaN,makani-waz,Makani,NaN,Waz,NaN,2018-07-11,...,90277.0,False,H,GUNSHOT WOUND OF HEAD SEE RELATED CASE #201...,NaN,-118.388985,33.831005,Redondo Beach,Redondo Beach PD,NaN
56,16621,2018-05088,180705000256,NaN,ruben-alcantara-jr,Ruben,NaN,Alcantara,Jr.,2018-07-05,...,90026.0,False,H,MULTIPLE GUNSHOT WOUNDS HOMICIDE. TRANSPORT...,NaN,-118.265384,34.063477,Westlake,LAPD RAMPART,NaN
60,16618,2018-05073,NaN,NaN,demya-beatris-rae-martin,Demya,Beatris Rae,Martin,NaN,2018-07-04,...,90047.0,False,H,MULTIPLE GUNSHOT WOUNDS OFCR(S) RESPOND TO ...,NaN,-118.309311,33.953862,Gramercy Park,LAPD SOUTH BUREAU HOMICIDE,NaN
68,16581,2018-04977,18-44523,VA148107,ivan-garcia-2018-04977,Ivan,NaN,Garcia,NaN,2018-06-30,...,90241.0,False,H,GUNSHOT WOUND OF CHEST ******FIRST CALL****...,NaN,-118.115628,33.931983,Downey,Downey PD,NaN
87,16569,2018-04725,NaN,NaN,anthony-avalos,Anthony,NaN,Avalos,NaN,2018-06-21,...,93535.0,False,H,NaN,NaN,-118.110456,34.675011,Lancaster,NaN,media/homicide/4c392a13-9b13-4249-b429-451e646...

In [14]:
youth.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2413 entries, 41 to 16137
Data columns (total 31 columns):
ID                      2413 non-null int64
coroners case number    2412 non-null object
police case number      1572 non-null object
da case number          137 non-null object
slug                    2413 non-null object
first name              2413 non-null object
middle name             1105 non-null object
last name               2412 non-null object
suffix                  139 non-null object
death date              2413 non-null object
death time              1162 non-null object
age                     2413 non-null float64
date of birth           2289 non-null object
cause                   2234 non-null object
security hold           2413 non-null bool
Have autopsy?           2413 non-null bool
gender                  2400 non-null object
race                    2370 non-null object
died on scene           2413 non-null bool
sequela                 2408 non-null object
incident address        2244 non-null object
incident zipcode        2197 non-null float64
officer involved        2413 non-null bool
ruling                  2413 non-null object
coroners description    2402 non-null object
synopsis                2357 non-null object
incident point x        2245 non-null float64
incident point y        2245 non-null float64
neighborhoodv6__name    2242 non-null object
jurisdiction__name      2388 non-null object
image                   161 non-null object
dtypes: bool(4), float64(4), int64(1), object(22)
memory usage: 537.3+ KB

In [19]:
youth.groupby("age", axis=0).sum().reset_index()

,age,ID,security hold,Have autopsy?,died on scene,incident zipcode,officer involved,incident point x,incident point y
0,0.0,2145680,0.0,0.0,2.0,14246430.0,0.0,-19155.977936,5515.425448
1,1.0,592460,1.0,1.0,2.0,4361233.0,1.0,-6030.106038,1738.799347
2,2.0,385520,0.0,0.0,0.0,4180697.0,0.0,-5677.527849,1633.109853
3,3.0,325900,0.0,1.0,1.0,2633994.0,0.0,-3309.362174,952.848572
4,4.0,240055,1.0,1.0,0.0,2091258.0,0.0,-2719.163921,783.290127
5,5.0,109995,0.0,0.0,0.0,1361617.0,0.0,-1773.586188,510.418889
6,6.0,75697,0.0,0.0,0.0,905284.0,0.0,-1418.863923,408.282235
7,7.0,110868,0.0,0.0,0.0,1188292.0,0.0,-1535.967080,443.812417
8,8.0,128654,1.0,0.0,0.0,1454569.0,0.0,-1891.466368,545.617620
9,9.0,60257,0.0,0.0,0.0,546001.0,0.0,-827.901030,238.894135
10,10.0,114171,0.0,0.0,0.0,1087214.0,0.0,-1418.513829,407.948401
11,11.0,98376,0.0,0.0,1.0,1091749.0,0.0,-1419.111262,409.660410
12,12.0,137730,0.0,0.0,0.0,1631684.0,0.0,-2127.515851,612.617342
13,13.0,286933,0.0,0.0,2.0,3443328.0,1.0,-4493.143223,1294.046063
14,14.0,726669,0.0,0.0,1.0,9040938.0,2.0,-11824.590978,3401.505708
15,15.0,1628074,1.0,2.0,11.0,18110854.0,1.0,-24474.771885,7041.229722
16,16.0,2269881,1.0,4.0,15.0,26066451.0,8.0,-34881.351191,10029.557882
17,17.0,3879519,0.0,3.0,22.0,44278340.0,11.0,-59239.353549,17040.359693
18,18.0,5332333,2.0,10.0,40.0,61339344.0,22.0,-81227.082474,23371.815034